<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.midnear.midnearshopping.mapper.productManagement.CancelProductMapper">
    <!-- 취소 상품 최신순 조회 -->
    <select id="selectAll">
            select
                o.order_number,
                di.tracking_delivery,
                cp.cancellation_status,
                p.payment_date,
                cp.cancellation_request_date,
                cp.cancel_reason,
                cp.cancellation_approval_date,
                op.product_name,
                op.color,
                op.size,
                op.quantity,
                op.product_price,
                op.coupon_discount,
                o.point_usage,
                o.total_payment_amount,
                op.delivery_charge,
                o.all_payment,
                o.order_name,
                u.id,
                o.recipient_name,
                o.order_contact,
                o.postal_code,
                o.address,
                o.detailed_address
            from order_products op
                     inner join orders o on op.order_id = o.order_id
                     inner join canceled_products cp on cp.order_product_id = op.order_product_id
                     left join delivery_info di on op.delivery_id = di.delivery_id
                     left join payments p ON o.order_id = p.order_id
                     left join users u on o.user_id = u.user_id
            where cp.cancellation_request_date is not null
            order by op.order_product_id
                LIMIT #{pageSize} OFFSET #{offset}

        </select>

        <select id="count">
            select count(*)
            from order_products op
                     inner join orders o on op.order_id = o.order_id
                     inner join canceled_products cp on op.order_product_id = cp.order_product_id
                     left join delivery_info di on op.delivery_id = di.delivery_id
                     left join payments p ON o.order_id = p.order_id
                     left join users u on o.user_id = u.user_id
            where cp.cancellation_request_date is not null
        </select>

</mapper>