<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.cart.CartMapper">
    <insert id="createCart" >
        INSERT INTO cart (
            user_id
        ) VALUES (#{userId})
    </insert>
    <select id="existByUserId" parameterType="Integer">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM cart
        WHERE user_id = #{userId}
    </select>
    <select id="findCartIdByUserId" parameterType="Integer">
        FROM cart
        WHERE user_id = #{userId}
    </select>

</mapper>