<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.Category.CategoriesMapper">
    <select id="getCategories" resultType="CategoryVo">
        SELECT * FROM categories
    </select>
    <select id="getCategoryById" resultType="CategoryVo">
        <!-- 특정 카테고리 정보 조회 -->
        SELECT * FROM categories
        WHERE category_id = #{categoryId};
    </select>
    <select id="getCategoryIdByCategoryName">
        SELECT category_id
        FROM categories
        WHERE category_name = #{searchText}
    </select>
</mapper>