<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.delivery.DeliveryAddressMapper">
    <!--배송지 아이디로 하나만 가져오기-->
    <select id="getDeliveryAddressById" >
        SELECT
            delivery_address_id AS deliveryAddressId,
            delivery_name AS deliveryName,
            postal_code AS postalCode,
            address,
            detail_address AS detailAddress,
            default_address_status AS defaultAddressStatus,
            recipient,
            recipient_contact AS recipientContact,
            delivery_request AS deliveryRequest,
            user_id AS userId
        FROM delivery_address
        WHERE delivery_address_id = #{deliveryAddressId}
    </select>
    <!--기본 배송지 가져오기-->
    <select id="getDefaultAddr" >
        SELECT
            delivery_address_id AS deliveryAddressId,
            delivery_name AS deliveryName,
            postal_code AS postalCode,
            address,
            detail_address AS detailAddress,
            default_address_status AS defaultAddressStatus,
            recipient,
            recipient_contact AS recipientContact,
            delivery_request AS deliveryRequest,
            user_id AS userId
        FROM delivery_address
        WHERE user_id = #{userId} AND default_address_status = 1
    </select>
    <!--유저 아이디로 배송주소들 다 조회-->
    <select id="getDeliveryAddressesByUserId"  >
        SELECT
            delivery_address_id AS deliveryAddressId,
            recipient,
            recipient_contact AS recipientContact,
            delivery_name AS deliveryName,
            postal_code AS postalCode,
            address,
            detail_address AS detailAddress,
            default_address_status AS defaultAddressStatus,
            delivery_request AS deliveryRequest,
            user_id AS userId
        FROM delivery_address
        WHERE user_id = #{userId}
    </select>
    <insert id="createDeliveryAddress" >
        INSERT INTO delivery_address (
            delivery_name,
            postal_code,
            address,
            detail_address,
            default_address_status,
            recipient,
            recipient_contact,
            delivery_request,
            user_id
        ) VALUES (
                     #{deliveryName},
                     #{postalCode},
                     #{address},
                     #{detailAddress},
                     #{defaultAddressStatus},
                     #{recipient},
                     #{recipientContact},
                     #{deliveryRequest},
                     #{userId}
                 )
    </insert>
    <update id="updateDeliveryAddress">
        UPDATE delivery_address
        SET delivery_name = #{deliveryName},
            postal_code =  #{postalCode},
            address = #{address},
            detail_address=#{detailAddress},
            default_address_status = #{defaultAddressStatus},
            recipient = #{recipient},
            recipient_contact = #{recipientContact},
            delivery_request = #{deliveryRequest}
        WHERE delivery_address_id = #{deliveryAddressId}
    </update>
    <update id="updateDeliveryRequest" >
        UPDATE delivery_address
        SET delivery_request = #{deliveryRequest}
        WHERE delivery_address_id = #{deliveryAddressId}
    </update>
    <!-- 새로 추가된 deleteDeliveryAddress -->
    <delete id="deleteDeliveryAddress">
        DELETE FROM delivery_address
        WHERE delivery_address_id = #{deliveryAddressId}
    </delete>
    <select id="getDeliveryCharge" parameterType="string" resultType="decimal">
        SELECT
            CASE
                WHEN #{location} = 'jeju' THEN jeju_delivery_cost
                WHEN #{location} = 'island' THEN island_mountain_delivery_cost
                ELSE basic_delivery_cost  -- 기본 배송비를 ELSE로 처리
                END AS delivery_cost
        FROM delivery_charge
    </select>

    <update id="updateDefault">
        UPDATE delivery_address
        SET default_address_status = #{defaultAddressStatus}
        WHERE delivery_address_id = #{deliveryAddressId}
    </update>


    <select id="getDefaultAddrId" >
        SELECT
            delivery_address_id AS deliveryAddressId
        FROM delivery_address
        WHERE user_id = #{userId} AND default_address_status = 1
    </select>

    <select id="countAddr">
        SELECT
            COUNT(*)
        FROM delivery_address
        WHERE user_id = #{userId} AND default_address_status = 1
    </select>

</mapper>