<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.magazines.magazinesMapper">

<!-- 매거진 List 전체/최신순 띄우기 -->
    <select id="selectMagazineList">
            select
                magazine_id,
                title,
                content,
                created_date,
                view_count
            from magazines
            order by created_date desc
                LIMIT #{pageSize} OFFSET #{offset}

    </select>

<!--  전체 List 개수  -->
    <select id="count">
        select count(*) from magazines
    </select>

<!--  검색하기  -->
    <select id="magazineSearch">
        select
        magazine_id,
        title,
        content,
        created_date,
        view_count
        from magazines
        where 1=1
--      where 1=1 붙이면 밑에 조건 전부 미충족해도 에러 안납니당
        <!-- 날짜 필터링 -->
        <if test="dateFilter == '오늘'">
            and created_date >= CURDATE()
        </if>
        <if test="dateFilter == '일주일'">
            and created_date >= CURDATE() - interval 7 day
        </if>
        <if test="dateFilter == '1개월'">
            and created_date >= CURDATE() - interval 1 month
        </if>
        <if test="dateFilter == '3개월'">
            and created_date >= CURDATE() - interval 3 month
        </if>
        <if test="dateFilter == '1년'">
            and created_date >= CURDATE() - interval 1 year
        </if>

        <!-- 검색 조건 -->
        <if test="search != null">
            and (
            <choose>
                <when test="search == '제목'">
                    title like CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="search == '내용'">
                    content like CONCAT('%', #{searchValue}, '%')
                </when>
            </choose>
            )
        </if>

        <!-- 정렬 조건 -->
        <if test="orderBy == '최신순'">
            order by created_date desc
        </if>
        <if test="orderBy == '오래된순'">
            order by created_date asc
        </if>
        <if test="orderBy == '조회순'">
            order by view_count DESC
        </if>

        LIMIT #{pageSize} OFFSET #{offset}
    </select>


<!-- 필터링 검색했을때 문의글 게수 -->
    <select id="searchCount">
        select count(*) from magazines
        where 1=1

        <!-- 날짜 필터링 -->
        <if test="dateFilter == '오늘'">
            and created_date >= CURDATE()
        </if>
        <if test="dateFilter == '일주일'">
            and created_date >= CURDATE() - interval 7 day
        </if>
        <if test="dateFilter == '1개월'">
            and created_date >= CURDATE() - interval 1 month
        </if>
        <if test="dateFilter == '3개월'">
            and created_date >= CURDATE() - interval 3 month
        </if>
        <if test="dateFilter == '1년'">
            and created_date >= CURDATE() - interval 1 year
        </if>

        <!-- 검색 조건 -->
        <if test="search != null">
            and (
            <choose>
                <when test="search == '제목'">
                    title like CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="search == '내용'">
                    content like CONCAT('%', #{searchValue}, '%')
                </when>
            </choose>
            )
        </if>
    </select>

<!-- 매거진 삭제 -->
    <delete id="deleteMagazines">
        delete from magazines
        where magazine_id = #{magazineId}
    </delete>

<!-- 매거진 등록 -->
    <insert id="insertMagazine" useGeneratedKeys="true" keyProperty="magazineId">
        insert into magazines (title, content, created_date, view_count ,main_image)
        values ( #{title}, #{content}, NOW(),#{viewCount}, #{mainImage})
    </insert>

<!-- 매거진 이미지 등록-->
    <insert id="uploadMagazineImages">
        insert into magazine_images (image_url, file_size, extension, creation_date, magazine_id)
        values (#{imageUrl}, #{fileSize}, #{extension}, NOW(), #{magazineId})
    </insert>

<!-- 작성한 메거진 가져오기 -->
    <select id="selectMagazine">
        select * from magazines
        where magazine_id = #{magazineId}
    </select>

<!-- 작성한 매거진 수정하기 -->
    <update id="updateMagazine">
        update magazines
        set
            title = #{title},
            content = #{content},
            created_date = NOW(),
            main_image = #{mainImage}
        where magazine_id = #{magazineId}
    </update>

<!-- 기존 매거진 이미지 정보 가져오기 -->
    <select id="selectMagazineImage">
        select * from magazine_images
        where magazine_id = #{magazineId}
    </select>
</mapper>
