<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.notice.NoticeImagesMapper">
    <insert id="uploadNoticeImages">
        INSERT INTO notice_images (
        image_url, file_size, extension, image_creation_date, notice_id
        ) VALUES (
        #{imageUrl}, #{fileSize}, #{extension}, NOW(), #{noticeId}
        )
    </insert>
    <select id="getNoticeImageVo" resultType="NoticeImagesVo">
        SELECT * FROM notice_images
        WHERE notice_id = #{noticeId};
    </select>
    <delete id="deleteNoticeImages">
        DELETE FROM notice_images
        WHERE notice_id = #{noticeId}
    </delete>
    <select id="getPopupImages" resultType="PopupDto">
        SELECT ni.image_url, n.notice_id
        FROM notice_images ni
                 LEFT JOIN notices n ON ni.notice_id = n.notice_id
        WHERE n.fix = TRUE
    </select>

</mapper>