<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.notice.NoticeMapper">
    <insert id="createNotice" useGeneratedKeys="true" keyProperty="noticeId">
        INSERT INTO notices (
        title, content, created_date
        ) VALUES (
        #{title}, #{content}, NOW()
        )
    </insert>
    <select id="findNoticeById" resultType="NoticeVo">
        SELECT * FROM notices
        WHERE notice_id = #{noticeId}
    </select>
    <update id="updateNotice" parameterType="NoticeVo">
        UPDATE notices
        SET
            title = #{title},
            content = #{content},
            created_date = NOW()
        WHERE notice_id = #{noticeId}
    </update>
    <delete id="deleteNotices">
        DELETE FROM notices
        WHERE notice_id IN
        <foreach item="id" collection="noticeList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getFixedNotices" resultType="NoticeVo">
        SELECT * FROM notices
        WHERE fix = TRUE;
    </select>
    <select id="getNotices" resultType="NoticeVo">
        SELECT * FROM notices
        WHERE fix = FALSE
        <include refid="dateCondition" />
        <if test="searchRange != null">
            <choose>
                <when test="searchRange == '제목'">
                    AND title LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="searchRange == '내용'">
                    AND contents LIKE CONCAT('%', #{searchText}, '%')
                </when>
            </choose>
        </if>
        ORDER BY created_date ${orderBy}
        LIMIT #{count} OFFSET #{offset}
    </select>
    <!--전체 페이지 개수 세기-->
    <select id="count">
        SELECT count(*) FROM notices
        WHERE fix = FALSE
        <include refid="dateCondition" />
        <if test="searchRange != null">
            <choose>
                <when test="searchRange == '제목'">
                    AND title LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="searchRange == '내용'">
                    AND contents LIKE CONCAT('%', #{searchText}, '%')
                </when>
            </choose>
        </if>
    </select>
    <update id="fixNotices">
        UPDATE notices
        SET
        fix = true
        WHERE notice_id IN
        <foreach item="id" collection="noticeList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="unfixNotices">
        UPDATE notices
        SET
        fix = false
        WHERE notice_id IN
        <foreach item="id" collection="noticeList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="findNextFixedNotice" resultType="NoticeVo">
        SELECT *
        FROM notices
        WHERE notice_id > #{noticeId}
          AND fix = TRUE
        ORDER BY notice_id ASC
            LIMIT 1
    </select>
    <select id="findNextNotice" resultType="NoticeVo">
        SELECT *
        FROM notices
        WHERE notice_id > #{noticeId}
          AND fix = FALSE
        ORDER BY notice_id ASC
            LIMIT 1
    </select>
    <select id="getNoticesPaging" resultType="NoticeVo">
        SELECT * FROM notices
        WHERE fix = FALSE
        <include refid="dateCondition" />
        <if test="searchText != null">
            AND title LIKE CONCAT('%', #{searchText}, '%')
        </if>
        LIMIT #{size} OFFSET #{offset}
    </select>
    <sql id="dateCondition">
        <choose>
            <when test="dateRange == '오늘'">
                DATE(created_date) = CURDATE()
            </when>
            <when test="dateRange == '일주일'">
                created_date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
            </when>
            <when test="dateRange == '1개월'">
                created_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
            </when>
            <when test="dateRange == '3개월'">
                created_date >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
            </when>
            <when test="dateRange == '1년'">
                created_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
            </when>
            <when test="dateRange == '전체'">

            </when>
        </choose>
    </sql>
</mapper>