<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.notice.NoticeMapper">
    <insert id="createNotice" useGeneratedKeys="true" keyProperty="noticeId">
        INSERT INTO notices (
        title, content, created_date
        ) VALUES (
        #{title}, #{content}, NOW()
        )
    </insert>
    <select id="findNoticeById" resultType="NoticeVo">
        SELECT * FROM notices
        WHERE notice_id = #{noticeId}
    </select>
    <update id="updateNotice" parameterType="NoticeVo">
        UPDATE notices
        SET
            title = #{title},
            content = #{content},
            created_date = NOW()
        WHERE notice_id = #{noticeId}
    </update>
    <delete id="deleteNotices">
        DELETE FROM notices
        WHERE notice_id IN
        <foreach item="id" collection="noticeList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getFixedNotices" resultType="NoticeVo">
        SELECT * FROM notices
        WHERE fix = TRUE;
    </select>
    <select id="getNotices" resultType="NoticeVo">
        SELECT * FROM notices
        WHERE fix = FALSE;
    </select>
    <update id="fixNotices">
        UPDATE notices
        SET
        fix = true
        WHERE notice_id IN
        <foreach item="id" collection="noticeList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="unfixNotices">
        UPDATE notices
        SET
        fix = false
        WHERE notice_id IN
        <foreach item="id" collection="noticeList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>