<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.products.ProductsMapper">
    <insert id="registerProducts" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO products (
        product_name, price, discount_price, discount_rate, discount_start_date, discount_end_date, detail, size_guide, registered_date, category_id
        ) VALUES (
        #{productName}, #{price}, #{discountPrice}, #{discountRate}, #{discountStartDate}, #{discountEndDate}, #{detail}, #{sizeGuide}, NOW(), #{categoryId}
        )
    </insert>
    <select id="getProductPaging" resultType="ProductsVo">
        SELECT *
        FROM products
        WHERE <include refid="dateCondition" />
        <if test="searchText != null">
            <choose>
                <when test="searchRange == '상품명'">
                    AND product_name LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="searchRange == '판매상태'">
                    AND sale_status LIKE CONCAT('%', #{searchText}, '%')
                </when>
            </choose>
        </if>
        ORDER BY registered_date ${orderBy}
    LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="getProductById" resultType="ProductsVo">
        SELECT * FROM products
        WHERE product_id = #{productId};
    </select>
    <update id="updateProduct">
        UPDATE products
        SET
            product_name = #{productName},
            price = #{price},
            discount_price = #{discountPrice},
            detail = #{detail},
            discount_rate = #{discountRate},
            size_guide = #{sizeGuide},
            registered_date = NOW(),
            discount_start_date = #{discountStartDate},
            discount_end_date = #{discountEndDate},
            category_id = #{categoryId}
        WHERE product_id = #{productId}
    </update>
    <delete id="deleteProducts">
        DELETE FROM products
        WHERE product_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <sql id="dateCondition">
        <choose>
            <when test="dateRange == '오늘'">
                DATE(registered_date) = CURDATE()
            </when>
            <when test="dateRange == '일주일'">
                registered_date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
            </when>
            <when test="dateRange == '1개월'">
                registered_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
            </when>
            <when test="dateRange == '3개월'">
                registered_date >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
            </when>
            <when test="dateRange == '1년'">
                registered_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
            </when>
            <otherwise>
                1=1
            </otherwise>
        </choose>
    </sql>

</mapper>