<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.products.ProductColorsMapper">
    <insert id="registerProducts" useGeneratedKeys="true" keyProperty="productColorId">
        INSERT INTO product_colors (
        color, product_id, sale_status    <!-- 상품 등록 시에는 코디 상품 x -->
        ) VALUES (
        #{color}, #{productId}, '판매중'
        )
    </insert>
    <select id="getProductColorsByProductId" resultType="ProductColorsVo">
        SELECT * FROM product_colors
        WHERE product_id = #{productId}
    </select>
    <select id="getProductColorById" resultType="ProductColorsVo">
        SELECT * FROM product_colors
        WHERE product_color_id = #{productColorId}
    </select>
    <select id="getCategoryId" resultType="Long">
        SELECT * FROM product_colors
        WHERE product_color_id = #{productColorId}
    </select>
    <select id="searchingProductColorsByProductId" resultType="ProductColorsVo">
        SELECT * FROM product_colors
        WHERE product_id = #{productId}
        <if test="searchRange == '판매상태'">
            AND sale_status LIKE CONCAT('%', #{searchText}, '%')
        </if>
    </select>
    <update id="setOnSale">
        UPDATE product_colors
        SET
        sale_status = '판매중'
        WHERE product_color_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="setSoldOut">
        UPDATE product_colors
        SET
        sale_status = '품절'
        WHERE product_color_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="setDiscontinued">
        UPDATE product_colors
        SET
        sale_status = '숨김'
        WHERE product_color_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <delete id="deleteColors">
        DELETE FROM product_colors
        WHERE product_color_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateProductColor" useGeneratedKeys="true" keyProperty="productColorId">
        UPDATE product_colors
        SET
            color = #{color}
        WHERE product_color_id = #{productColorId}
    </update>
    <select id="existsByProductColorId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM product_colors
            WHERE product_color_id = #{productColorId}
        )
    </select>
    <select id="getProductIdByColor">
        SELECT product_id FROM product_colors
        WHERE product_color_id= #{colorId}
    </select>
    <select id="getColorById">
        SELECT color FROM product_colors
        WHERE product_color_id= #{colorId}
    </select>
</mapper>