<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.review.ReviewsMapper">
    <resultMap id="ReviewListResultMap" type="com.midnear.midnearshopping.domain.dto.review.ReviewListDto">
        <id property="reviewId" column="review_id"/>
        <result property="id" column="userId"/>
        <result property="created" column="created"/>
        <result property="rating" column="rating"/>
        <result property="color" column="color"/>
        <result property="size" column="size"/>
        <result property="content" column="content"/>
        <result property="isReply" column="isReply"/>
    </resultMap>

    <insert id="insertReview" useGeneratedKeys="true" keyProperty="reviewId">
        INSERT INTO reviews (
            created_date,
            modified_date,
            rating,
            review,
            review_status,
            user_id,
            order_product_id,
            approve_status
        ) VALUES (
                     #{createdAt},
                     #{modifiedDate},
                     #{rating},
                     #{review},
                     #{reviewStatus},
                     #{userId},
                     #{orderProductId},
                  0
                 )
    </insert>

    <select id="getReviewById" >
        SELECT * FROM reviews WHERE review_id = #{reviewId}
    </select>

    <select id="getReviewsByProductId" >
        SELECT * FROM reviews WHERE user_product_id = #{userProductId} ORDER BY created_date DESC
    </select>

    <update id="updateReview">
        UPDATE reviews
        SET modified_date = #{modifiedDate},
            rating = #{rating},
            review = #{review},
            review_status = #{reviewStatus}
        WHERE review_id = #{reviewId}
    </update>
    <update id="updateReviewStatus">
        UPDATE reviews
        SET review_status = 'inactive'
        WHERE review_id = #{reviewId}
    </update>

    <update id="updateReviewComment">
        UPDATE reviews
        SET comment = #{comment}
        WHERE review_id = #{reviewId}
    </update>

    <!-- 사진이 포함된 리뷰 개수 조회 -->
    <select id="getImageReviewCount" resultType="int">
        SELECT COUNT(DISTINCT r.review_id)
        FROM reviews r
                 JOIN review_images ri ON r.review_id = ri.review_id
        WHERE r.order_product_id IN
              (SELECT order_product_id FROM order_products WHERE product_name = #{productName})
    </select>

    <!-- 전체 리뷰 개수 조회 -->
    <select id="getReviewCount" resultType="int">
        SELECT COUNT(*)
        FROM reviews
        WHERE order_product_id IN
              (SELECT order_product_id FROM order_products WHERE product_name = #{productName})
    </select>

    <!-- 사진이 포함된 리뷰의 대표 이미지 리스트 (최대 5개) -->
    <select id="getAllReviewImages" resultType="string">
        SELECT ri.review_image_url
        FROM review_images ri
                 JOIN reviews r ON ri.review_id = r.review_id
        WHERE r.order_product_id IN
              (SELECT order_product_id FROM order_products WHERE product_name = #{productName})
        GROUP BY r.review_id
        ORDER BY r.created_date DESC
            LIMIT 5
    </select>



    <!-- 리뷰 리스트 조회 -->
    <select id="getReviewList" resultMap="ReviewListResultMap">
        SELECT
            r.review_id,
            u.id AS userId,
            r.created_date AS created,
            r.rating,
            op.size,
            op.color,
            r.review AS content,
            r.comment
        FROM reviews r
                 JOIN order_products op ON r.order_product_id = op.order_product_id
                 JOIN users u ON r.user_id = u.user_id

        WHERE op.product_name = #{productName} AND r.review_status = 'active'
        ORDER BY r.created_date DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="getReviewListWithoutPaging" resultMap="ReviewListResultMap">
        SELECT
            r.review_id,
            u.id AS userId,
            r.created_date AS created,
            r.rating,
            op.size,
            op.color,
            r.review AS content,
            r.comment,
            ri.review_image_url
        FROM reviews r
                 JOIN order_products op ON r.order_product_id = op.order_product_id
                 JOIN users u ON r.user_id = u.user_id
                 LEFT JOIN review_images ri ON r.review_id = ri.review_id
        WHERE op.product_name = #{productName} AND r.review_status = 'active'
        ORDER BY r.created_date DESC
    </select>

    <!-- 리뷰별 이미지 리스트 조회 -->
    <select id="getReviewImages">
        SELECT review_image_url
        FROM review_images
        WHERE review_id = #{reviewId}
    </select>

    <update id="setApproveStatusTrue">
        UPDATE reviews
        SET
        approve_status = TRUE
        WHERE review_id = #{reviewId}
    </update>
    <select id="getUserIdByReviewId">
        select user_id
        from reviews
        where review_id = #{reviewId}
    </select>


</mapper>
