<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.ShippingReturns.ShippingReturnsMapper">
    <select id="getShippingReturns" resultType="ShippingReturnsVo">
        SELECT * FROM shipping_returns
        LIMIT 1
    </select>
    <select id="getShippingInfo">
        SELECT shipping_info FROM shipping_returns
        LIMIT 1
    </select>
    <select id="getShippingNotice">
        SELECT shipping_notice FROM shipping_returns
        LIMIT 1
    </select>
    <select id="getShippingReturnsPolicy">
        SELECT shipping_returns_policy FROM shipping_returns
        LIMIT 1
    </select>
    <delete id="deleteShippingReturns">
        delete from shipping_returns
    </delete>
    <insert id="updateShippingReturns">
        INSERT INTO shipping_returns (
        shipping_info, shipping_notice, shipping_returns_policy
        ) VALUES (
        #{shippingInfo}, #{shippingNotice}, #{shippingReturnsPolicy}
        )
    </insert>
</mapper>