<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midnear.midnearshopping.mapper.storeManagement.StoreImagesMapper">
    <insert id="uploadImage">
        INSERT INTO store_images (
        image_url, file_size, extension, creation_date, type
        ) VALUES (
        #{imageUrl}, #{fileSize}, #{extension}, NOW(), #{type}
        )
    </insert>
    <select id="findMainImage" resultType="String">
        SELECT image_url FROM store_images
        WHERE type = 'main';
    </select>
    <select id="findLogoImage" resultType="String">
        SELECT image_url FROM store_images
        WHERE type = 'Logo';
    </select>
    <select id="findImageIdByUrl" resultType="Long">
        SELECT image_id FROM store_images
        WHERE image_url = #{imageUrl};
    </select>
    <delete id="deleteImageById">
        DELETE FROM store_images
        WHERE image_id = #{id};
    </delete>
</mapper>