<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.midnear.midnearshopping.mapper.claim.UserCanceledProductMapper">
    <insert id="insertCanceledProduct">
        INSERT INTO canceled_products (
            canceled_product_id,
            cancellation_request_date,
            cancellation_status,
            cancel_reason,
            cancellation_approval_date,
            order_product_id
        ) VALUES (
                     #{canceledProductId},
                     #{cancellationRequestDate},
                     #{cancellationStatus},
                     #{cancelReason},
                     #{cancellationApprovalDate},
                     #{orderProductId}
                 )
    </insert>

    <!--디비 허상이슈로 잠시 스탑-->
    <insert id="insert">
        INSERT INTO exchange_delivery (
            resend_carier,
            resend_invoice_number,
            redelivery_date,
            exchange_id,
            cancellation_approval_date,
            order_product_id
        ) VALUES (
                     #{canceledProductId},
                     #{cancellationRequestDate},
                     #{cancellationStatus},
                     #{cancelReason},
                     #{cancellationApprovalDate},
                     #{orderProductId}
                 )
    </insert>



</mapper>